@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

.text-gradient {
    background-image: linear-gradient(#ffa522, #ff701b);
    color: transparent;
    background-clip: text;
}

.bg-gradient {
    background-image: linear-gradient(to bottom, #ffa522, #ff701b);
}

.menu-item:hover {
    background-image: linear-gradient(#ffa522, #ff701b);
    color: transparent;
    background-clip: text;
}


html {
    font-family: "Winky Sans", sans-serif;
}